.like_content {
  background: #F5F6FA;
  border-radius: 10px;
  height: 100px;
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
.likes_icon{
  width: 30px;
  height: 30px;
}

.likes_count {
  margin-left: 10px;
  font-size: 18px;
  color: black;
}
