.sign_up, .sign_in {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  margin: 0 auto;
}

.left_side {
  padding: 0 30px;
}

.right_side {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.login_title, .registration_title {
  margin-top: 90px;
}

.welcome_description {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 90px;
}

.email_input, .password_input {
  padding-left: 20px;
  width: 100%;
  height: 60px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
  border: none;
}

.email_input {
  margin-bottom: 28px;
}

.password_input {
  margin-bottom: 20px;
}

.email_input::placeholder, .password_input::placeholder {
  color: #AAA;
}

.forgot_password {
  color: #646262;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 28px;
}

.login_btn, .registration_btn {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  background: #3A3A3A;
  box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 70px;
  transition: all 0.2s ease-in;
  border: none;
}

.login_btn:hover, .registration_btn:hover {
  background: #707070;
  box-shadow: 4px 6px 15px 0px rgba(0, 0, 0, 0.06);
}

.login_btn:active, .registration_btn:active {
  transform: scale(0.99);
}


.sign_up_description {
  color: #373737;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.sign_up_button {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  margin-left: 5px;
}

.login_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form_error_message{
  color: #D50000;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.048px;
}
.form_errors_list{
  list-style-type: disc;
}
